<div id="lobby" class="view view-container">
    <p>
        Welcome to the lobby {{player.name}}! You're on team {{player.teamName}}!<br />
        This is where we gather and wait for the master player to start the game.<br />
    </p>
    <button md-raised-button *ngIf="player.isMasterPlayer" (down)="startGame()">Start</button>
</div>
<div id="staging" class="view view-container">
    <p>
        Welcome to the staging area {{player.name}}!<br />
        This is where we assign weapons, armor, and core parts to our fighter.<br />
    </p>
    <ng-container *ngIf="gameData.Fighter">
    <div class="form-group row" *ngFor="let slot of gameData.Fighter.Schematic.Slots">
        <label class="col-form-label col-sm-2" for="slot_{{slot.Id}}">{{slot.Name}}</label>
        <div class="col-sm-10">
            <select class="form-control" id="slot_{{slot.Id}}" name="slot_{{slot.Id}}" [disabled]="player.schematic.isMaxSlotsSet(gameData) && !player.schematic.isSlotSet(slot.Id)" (change)="selectSchematicSlot(slot.Id, $event.target.value)">
                <option [value]="0" [selected]="!player.schematic.isSlotSet(slot.Id)">--</option>
                <option *ngFor="let item of player.schematic.getSlotItems(slot.Id)" [value]="item.Id" [selected]="player.schematic.isSlotItem(slot.Id, item.Id)">{{item.Name}}</option>
            </select>
        </div>
    </div>
    </ng-container>
    <button md-raised-button *ngIf="player.isConfirmed" (down)="confirmStaging()">Unconfirm</button>
    <button md-raised-button *ngIf="!player.isConfirmed" (down)="confirmStaging()">Confirm</button>
</div>
<div id="arena" class="view view-container">
    <p>
        Welcome to the arena {{player.name}}!<br />
        This is where we watch our fighter compete against the other team's fighter!<br />
    </p>
    <p>
        Missiles Remaining: {{gameState.missilesRemaining}}<br />
        Chaff Remaining: {{gameState.chaffRemaining}}<br />
    </p>
    <button md-raised-button *ngIf="gameState.isGameStarted && gameState.missilesRemaining > 0" (down)="fireMissiles()">Fire Missiles</button>
    <button md-raised-button *ngIf="gameState.isGameStarted && gameState.chaffRemaining > 0" (down)="launchChaff()">Launch Chaff</button>
</div>
